{% extends "store/base.html" %}
{% load static %}
{% block content %}
<!-- <div class="container"> -->

        <!-- Background image -->
        <!-- <div id="intro" class="bg-image vh-100 shadow-1-strong">
            <video style="min-width: 100%; min-height: 100%;" playsinline autoplay muted loop>
              <source class="h-100"
                src="https://mdbootstrap.com/img/video/animation-intro-min.mp4"
                type="video/mp4"
              />
            </video>
            <div class="mask" style="
                  background: linear-gradient(
                    45deg,
                    rgba(29, 236, 197, 0.7),
                    rgba(91, 14, 214, 0.7) 100%
                  );
                ">
              <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-white" data-mdb-theme="dark">
                  <h1 class="mb-3">VidStore</h1>
                  <h5 class="mb-4">Reliable VOD Platform for all your needs</h5>
                  <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="{% url 'store-store' %}" role="button"
                    rel="nofollow" target="_blank">Store</a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Background image -->


          <section id="hero" class="d-flex align-items-center">

            <div class="container">
              <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                  <h1>Better Solutions For Your Entertainment Business</h1>
                  <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="{% url 'user-login' %}" class="btn-get-started scrollto">Get Started</a>
                  </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                  <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
                </div>
              </div>
            </div>
        
          </section><!-- End Hero -->
        
          <main id="main">
        
            
        
            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2>About Us</h2>
                </div>
        
                <div class="row content">
                  <div class="col-lg-6">
                    <p>
                      At VidStore, we believe in the transformative power of
                      entertainment. Our platform is not just a collection of Music
                      and Shows; it's a gateway to a world of captivating stories,
                      immersive experiences, and boundless entertainment.
                    </p>
                    <ul>
                      <li><i class="ri-check-double-line"></i>We envision a world where everyone can access the stories that
                        matter to them, anytime, anywhere.</li>
                      <li><i class="ri-check-double-line"></i>Embark on a cinematic journey with our extensive library of
                        handpicked Music and Shows.</li>
                      <li><i class="ri-check-double-line"></i>Experience entertainment like never before with our
                        state-of-the-art streaming technology.</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                      Become part of a vibrant community of entertainment enthusiasts.
                Share your thoughts, connect with fellow viewers, and stay
                updated on the latest releases through our social media
                channels. Your feedback matters, and we're always eager to hear
                from you.
                    </p>
                    <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
                  </div>
                </div>
        
              </div>
            </section><!-- End About Us Section -->
        
          
        
            
        
            <!-- ======= Services Section ======= -->
            <section id="services" class="services section-bg">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2>Services</h2>
                  <p>At VidStore We offer a range of services to help you engage with your audience.</p>
                </div>
        
                <div class="row">
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bxl-dribbble"></i></div>
                      <h4><a href="">Storage</a></h4>
                      <p>We offer video storage ensuring all you have to think about is your content.</p>
                    </div>
                  </div>
        
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bx-file"></i></div>
                      <h4><a href="">Video Compression</a></h4>
                      <p>All videos uploaded in VidStore are compressed using losless video compression methods ensuring quality is maintained and you get value for your money.</p>
                    </div>
                  </div>
        
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bx-tachometer"></i></div>
                      <h4><a href="">Unbeatable Service</a></h4>
                      <p>Once you upload to our site we take care of everything for you giving you time to work on your content.</p>
                    </div>
                  </div>
        
                  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bx-layer"></i></div>
                      <h4><a href="">Testimonial videos</a></h4>
                      <p>Can provide social proof for clients, and help boost conversions by showcasing happy clients</p>
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Services Section -->
        
            <!-- ======= Cta Section ======= -->
            <section id="cta" class="cta">
              <div class="container" data-aos="zoom-in">
        
                <div class="row">
                  <div class="col-lg-9 text-center text-lg-start">
                    <h3>Call To Action</h3>
                    <p>Register with us today and get access to our service top quality content management system.</p>
                  </div>
                  <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="{% url 'user-login' %}">Register</a>
                  </div>
                </div>
        
              </div>
            </section><!-- End Cta Section -->
        
            <!-- ======= Portfolio Section ======= -->
            <!-- <section id="portfolio" class="portfolio">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2>Portfolio</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
        
                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-app">App</li>
                  <li data-filter=".filter-card">Card</li>
                  <li data-filter=".filter-web">Web</li>
                </ul>
        
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-1.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>App 1</h4>
                      <p>App</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-1.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-2.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>Web 3</h4>
                      <p>Web</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-2.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-3.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>App 2</h4>
                      <p>App</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-3.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-4.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>Card 2</h4>
                      <p>Card</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-4.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-5.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>Web 2</h4>
                      <p>Web</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-5.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-6.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>App 3</h4>
                      <p>App</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-6.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-7.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>Card 1</h4>
                      <p>Card</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-7.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-8.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>Card 3</h4>
                      <p>Card</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-8.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'store/assets/img/portfolio/portfolio-9.jpg'%}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                      <h4>Web 3</h4>
                      <p>Web</p>
                      <a href="{% static 'store/assets/img/portfolio/portfolio-9.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section> -->
            <!-- End Portfolio Section -->
        
            <!-- ======= Team Section ======= -->
            <!-- <section id="team" class="team section-bg">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2>Team</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
        
                <div class="row">
        
                  <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                        <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                        <div class="social">
                          <a href=""><i class="ri-twitter-fill"></i></a>
                          <a href=""><i class="ri-facebook-fill"></i></a>
                          <a href=""><i class="ri-instagram-fill"></i></a>
                          <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                        <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                        <div class="social">
                          <a href=""><i class="ri-twitter-fill"></i></a>
                          <a href=""><i class="ri-facebook-fill"></i></a>
                          <a href=""><i class="ri-instagram-fill"></i></a>
                          <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                        <div class="social">
                          <a href=""><i class="ri-twitter-fill"></i></a>
                          <a href=""><i class="ri-facebook-fill"></i></a>
                          <a href=""><i class="ri-instagram-fill"></i></a>
                          <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                      <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                        <div class="social">
                          <a href=""><i class="ri-twitter-fill"></i></a>
                          <a href=""><i class="ri-facebook-fill"></i></a>
                          <a href=""><i class="ri-instagram-fill"></i></a>
                          <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section> -->
            <!-- End Team Section -->
        
            <!-- ======= Pricing Section ======= -->
            <section id="pricing" class="pricing">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2>Pricing</h2>
                  <p>We offer pricing based on storage and Upload quality </p>
                </div>
        
                <div class="row">
        
                  <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                      <h3>Standard Plan</h3>
                      <h4><sup>$</sup>0<span>per month</span></h4>
                      <ul>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Option</span></li>
                        <li class="na"><i class="bx bx-x"></i> <span>Option</span></li>
                      </ul>
                      <a href="#" class="buy-btn">Get Started</a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured">
                      <h3>Business Plan</h3>
                      <h4><sup>$</sup>29<span>per month</span></h4>
                      <ul>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                      </ul>
                      <a href="#" class="buy-btn">Get Started</a>
                    </div>
                  </div>
        
                  <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                      <h3>Developer Plan</h3>
                      <h4><sup>$</sup>49<span>per month</span></h4>
                      <ul>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                        <li><i class="bx bx-check"></i> Option</li>
                      </ul>
                      <a href="#" class="buy-btn">Get Started</a>
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Pricing Section -->
        
            
        
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2>Contact</h2>
                  <p>To reach Us Drop your contucs in the form below and a representative will get back to you</p>
                </div>
        
                <div class="row">
        
                  <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                      <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Nairobi</p>
                      </div>
        
                      <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>admin@vidstore.com</p>
                      </div>
        
                      <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+254 712 345 678</p>
                      </div>
        
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9151.984709768789!2d36.817899361684!3d-1.2648223551780944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1711957029826!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
        
                  </div>
        
                  <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="name">Your Name</label>
                          <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="name">Your Email</label>
                          <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                      </div>
                      <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                      </div>
                      <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                      </div>
                      <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Contact Section -->
        
          </main><!-- End #main -->
        
          <!-- ======= Footer ======= -->
          <footer id="footer">
        
            <div class="footer-newsletter">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>To get updates on new services and promotions</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                  </div>
                </div>
              </div>
            </div>
        
            
        
            <div class="container footer-bottom clearfix">
              <div class="copyright">
                &copy; Copyright <strong><span><a href="https://github.com/cypher-me">Xenon Tech</a></span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                
                Designed by <a href="https://github.com/cypher-me">Xenon Technologies</a>
              </div>
            </div>
          </footer><!-- End Footer -->

<!-- </div> -->


{% endblock content%}