{% extends "store/base.html" %}
{% block content %}
<!-- <div class="container"> -->

        <!-- Background image -->
        <div id="intro" class="bg-image vh-100 shadow-1-strong">
            <video style="min-width: 100%; min-height: 100%;" playsinline autoplay muted loop>
              <source class="h-100"
                src="https://mdbootstrap.com/img/video/animation-intro-min.mp4"
                type="video/mp4"
              />
            </video>
            <div class="mask" style="
                  background: linear-gradient(
                    45deg,
                    rgba(29, 236, 197, 0.7),
                    rgba(91, 14, 214, 0.7) 100%
                  );
                ">
              <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-white" data-mdb-theme="dark">
                  <h1 class="mb-3">VidStore</h1>
                  <h5 class="mb-4">Reliable VOD Platform for all your needs</h5>
                  <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="{% url 'store-store' %}" role="button"
                    rel="nofollow" target="_blank">Store</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Background image -->
    
            <!--Main layout-->
      <main class="mt-5">
        <!-- <div class="container"> -->
          <!--Section: Content-->
          
          <!--Section: Content-->
    
          <!-- <hr class="my-5" /> -->
    
          <!--Section: Content-->
          
          <!--Section: Content-->
    
          <!-- <hr class="my-5" /> -->
    
    
            
          
          <!--Section: Content-->
        <!-- </div> -->
      </main>
      <!--Main layout-->

<!-- </div> -->


{% endblock content%}