{% extends "store/base.html" %} {% block content %}
<div class="container d-flex flex-row flex-wrap">
        <div
            class="card mt-lg-5 mx-auto d-flex align-items-center border m-2"
            style="max-width: 25rem"
        >
            <!-- <video src="https://youtu.be/ZtSALXnyt5U" controls class="card-img-top" alt="..."></video> -->
            <div class="ratio ratio-4x3">
                <iframe width="560" height="345" src="{{ object.video_url }}?rel=0" frameborder="0" allowfullscreen></iframe>
                <!-- {{ video.video_url }} -->
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ object.video_title }}</h5>
                <p class="card-text">{{ object.video_description }}</p>
                <a href="#" class="btn btn-primary m-1">Add to Cart</a>
                <a href="#" class="btn btn-primary pl-3 m-1">View</a>
            </div>
        </div>

    

</div>

{% endblock content%}
