{% extends "store/base.html" %} {% block content %}
<!-- <div class="container mt-5 d-flex flex-row flex-wrap">
        <div
            class="card mt-lg-5 mx-auto d-flex align-items-center border m-2"
            style="max-width: 25rem"
        >
            <div class="ratio ratio-4x3">
                <iframe width="560" height="345" src="{{ object.video_url }}?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ object.video_title }}</h5>
                <p class="card-text">{{ object.video_description }}</p>
                <p class="card-text">{{ object.video_price }}</p>
                <button type="button" value="{{ object.id }}" id="add-to-cart" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
</div> -->

<section id="portfolio-details" class="portfolio-details mt-5 ">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <!-- <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div> -->
          <div class="ratio ratio-4x3">
            <iframe width="560" height="345" src="{{ object.video_url }}?rel=0" frameborder="0" allowfullscreen></iframe>
            <!-- {{ video.video_url }} -->
        </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Title</strong>: {{ object.video_title }}</li>
              <!-- <li><strong>Description</strong>: ASU Company</li> -->
              <li><strong>Project date</strong>: {{ object.upload_date }}</li>
              <li><strong>Price</strong>: {{ object.video_price }}</li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Project Description</h2>
            <p>
                {{ object.video_description }}
            </p>
          </div>
          <button type="button" value="{{ object.id }}" id="add-to-cart" class="btn btn-primary">Add to Cart</button>
        </div>

      </div>

    </div>
  </section>

<script>
    // check if button is clicked
    // $(document).on('click', '#add-to-cart', function(e){
    //     e.preventDefault();
    //     var id = $(this).val();
    //     $.ajax({
    //         type: "POST",
    //         url: "#",
    //         data: {
    //             'product_id': id,
    //             csrfmiddlewaretoken: '{{ csrf_token }}',
    //             action: 'post',
    //         },
    //         success: function(json){
    //             console.log(json);
    //         },
    //         error: function(xhr, errmsg, err) {
    //             console.log(xhr.status + ": " + xhr.responseText);
    //         }
    //     });
    // });
</script>

{% endblock content%}
